@media (max-width: 1462px) {

  .image-squash-cover p {
      font-size: 16px;
      text-align: left;
      margin: 17px -1px;
  }

    .staff {
      width: 32%;
      height: 270px;
  }

}


@media (max-width: 1332px) {
  .squash-section h1 {
      text-align: center;
      margin: 10%;
      font-size: 97px;
  }

    .col-one {
      width: 20%;
      margin: 22% 6%;
      display: inline-block;
      background-color: white;
      height: 276px;
      border-radius: 10%;
  }

}





@media (max-width: 1212px){

    .mem-one p {
      font-size: 31px;
      text-align: left;
      color: black;
      padding: 50px;
      line-height: 32px;
      margin-top: -36px;
      font-weight: lighter;
      text-transform: lowercase;
  }

    .squash-section h1 {
      text-align: center;
      margin: 10%;
      font-size: 76px;
  }

    .mem-one h1 {
      padding-left: 51px;
  }

    .pay-butt {
      margin-top: 40px;
      width: 40%;
      height: 80px;
      background-color: black;
      color: white;
      cursor: pointer;
      border-radius: 50px;
      font-size: 20px;
      margin-bottom: 40px;
      text-transform: uppercase;
      margin: auto;
      display: block;
  }

    .container-two {
      width: 100%;
      height: 779px;
      background-color: black;
  }

    .image-squash-cover {
      width: 100%;
      height: 765px;
      // border: 2px solid blue;
  }

    .prices-container {
      width: 100%;
      height: 778px;
      // border: 2px solid red;
  }
}



@media (max-width: 952px){

    .col-one {
      width: 20%;
      margin: 33% 6%;
      display: inline-block;
      background-color: white;
      height: 213px;
      border-radius: 10%;
  }

    .col-one i {
      font-size: 93px;
      margin: 33% 23%;
  }

    .prices, .prices-two, .prices-four {
      width: 62%;
      height: 100px;
      margin-top: 50px;
  }

    .prices-six {
      margin-top: 100px;
      width: 62%;
      height: 100px;
      background-color: black;
      color: white;
      cursor: pointer;
      border-radius: 50px;
      font-size: 20px;
      margin-left: 89px;
  }

    .staff {
      width: 32%;
      height: 207px;
  }
}

@media (max-width: 866px){

    .image-squash-cover p {
      font-size: 14px;
      text-align: left;
      margin: 10px -1px;
  }

    .pay-butt {
      margin-top: 40px;
      width: 43%;
      height: 80px;
      background-color: black;
      color: white;
      cursor: pointer;
      border-radius: 50px;
      font-size: 20px;
      margin-bottom: 40px;
      text-transform: uppercase;
      margin: auto;
      display: block;
  }

    .prices-six {
      margin-top: 100px;
      width: 70%;
      height: 71px;
      background-color: black;
      color: white;
      cursor: pointer;
      border-radius: 50px;
      font-size: 20px;
      margin-left: 89px;
  }

    .squash-section h1 {
      text-align: center;
      margin: 10%;
      font-size: 57px;
  }

    .image-squash-cover img {
      width: 100%;
      height: 350px;
  }

    .image-squash-cover {
      width: 100%;
      height: 612px;
  }

    .prices, .prices-two, .prices-four {
      width: 78%;
      height: 53px;
      margin: 33px 10px;
    }

    .times, .prices-five, .prices-three {
      width: 78%;
      height: 53px;
      margin: 33px 10px;
  }

    .prices-container {
      width: 100%;
      height: 700px;
  }

    .button {
      width: 36%;
      margin: 10px auto;
      display: block;
      padding: 20px;
      color: white;
      border: 2px solid white;
      background: none;
      cursor: pointer;
      font-weight: bold;
      text-transform: uppercase;
      border-radius: 34px;
  }

    .container-two {
      width: 100%;
      height: 550px;
      background-color: black;
  }

    .col-one {
      width: 20%;
      margin: 20% 6%;
      display: inline-block;
      background-color: white;
      height: 213px;
      border-radius: 10%;
  }

}

@media (max-width: 712px) {

  .button-gym {
    width: 35%;
  }

  .mem-one p {
    font-size: 20px;
    padding: 33px;
  }

    .col-one {
    width: 20%;
    margin: 27% 6%;
    display: inline-block;
    background-color: white;
    height: 173px;
    border-radius: 10%;
  }

    .col-one i {
      font-size: 73px;
      margin: 37% 23%;
  }

    .pay-butt {
      margin-top: 40px;
      width: 60%;
      height: 80px;
      background-color: black;
      color: white;
      cursor: pointer;
      border-radius: 50px;
      font-size: 20px;
      margin-bottom: 40px;
      text-transform: uppercase;
      margin: auto;
      display: block;
  }

    .prices-six {
      margin-top: 81px;
      width: 68%;
      height: 71px;
      background-color: black;
      color: white;
      cursor: pointer;
      border-radius: 50px;
      font-size: 20px;
      margin-left: 89px;
  }


}

@media (max-width: 660px) {
    .image-squash-cover p {
      font-size: 11px;
      text-align: left;
      margin: 15px -1px;
  }

    .container-mem h1 {
      text-align: center;
      font-size: 50px;
  }

    .staff {
      width: 32%;
      height: 182px;
  }


    .staff-container {
      width: 88%;
      // border: 1px solid blue;
      margin: auto;
  }

  .button-gym {
    width: 35%;
  }
}

@media only screen and (max-width: 512px) and (min-width: 320px) {

    .button-gym {
      width: 35%;
    }

    .mem-one h1 {
      text-align: center;
      font-size: 30px;
      padding: 60px;
      color: black;
      font-weight: bold;
      text-transform: uppercase;
      margin-top: 66px;
    }

    .mem-one {
      width: 100%;
      border: 1px solid white;
      background-image: linear-gradient(to right, white, grey);
      cursor: pointer;
      margin-top: 15px;
      height: 574px;
  }

    .image-squash-cover img {
      width: 100%;
      height: 238px;
    }

    .image-squash-cover {
      width: 100%;
      height: 504px;
      // border: 1px solid black;
    }

    .squash-section h1 {
        text-align: center;
        margin: 10%;
        font-size: 35px;
    }

    .container-pay h1 {
        text-align: center;
        margin: 5%;
        font-size: 66px;
    }

    .pay-butt {
        margin-top: 40px;
        width: 68%;
    }

    .input-field {
        width: 330px;
    }

    .para-button {
        width: 42%;
    }

    .prices, .prices-two, .prices-four {
      width: 78%;
      height: 53px;
      margin: 33px 10px;
    }

    .times, .prices-five, .prices-three {
      width: 78%;
      height: 53px;
      margin: 33px 10px;
  }

    .prices-six {
      width: 82%;
      height: 47px;
      background-color: black;
      color: white;
      cursor: pointer;
      border-radius: 50px;
      font-size: 20px;
      margin: 45px auto;
  }

    .prices-container {
      width: 100%;
      height: 563px;
      // border: 1px solid blue;
  }

    .container-two {
      width: 100%;
      height: 630px;
      background-color: black;
  }

    .col-one {
      width: 25%;
      margin: 9% 38%;
      background-color: white;
      height: 127px;
      border-radius: 10%;
  }

    .col-one i {
      font-size: 57px;
      margin: 26% 23%;
  }

    .container-mem {
      width: 100%;
      height: 192px;
      margin-top: -20%;
  }

    .container h1 {
      font-size: 76px;
      color: white;
      text-align: center;
      padding-top: 226px;
  }

    .button {
      padding: 13px;
      margin: 20px auto;
      width: 50%;
  }

    .staff {
      width: 32%;
      height: 138px;
  }
}
